.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    color : #769267;
    padding: 0px 2rem;
}
.header nav h1 {
    font-weight: bolder;
    font-size: 1.8rem;
    font-family: sans-serif;
}
