.visualize_table {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
   }
.VisualizeHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}
.title{
    background-color: rgb(209, 207, 207);
    border-radius: 4px;
    width: fit-content;
    margin-left: 1rem;
    padding : 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

